<%- include("header") -%>

<div class="about-content">
    <h1 class="about-title box">About</h1>
<p class="box">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam soluta quod quis optio quasi voluptas est suscipit dolore beatae, fuga exercitationem eius distinctio, ut eveniet neque blanditiis atque vel corporis?</p>
</div>

<%- include("footer") -%>